.boxWrapper{
    overflow-x: hidden;
}


.forgotpasswordSectionContainer {
  margin-top: 80px;
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  gap: 50px;
  margin-bottom: 100px;
}

.sectionForForm {
  width: 50%;
  border: 1px solid #60616e;
  border-radius: 5px;
  box-shadow: 4px 2px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 65px;
  padding-right: 65px;
  border-radius: 15px;
  height: 80vh;
}

.sectionForTheImage {
  margin-top: 5px;
  width: 50%;
  background-image: url(/../say-it-react-fe/src/assets/createAccount.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 90vh;
}

.forTheGoBackToLoginArrow {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

Link{
    text-decoration: none;
    color: #000;
}

.seprateText {
  color: #ed4d02;
  padding-left: 2px;
}

a.seprateText{
    text-decoration: none;
}

a.seprateText:hover{
    color: #ed4d02;
}

.resetPasswordHeading {
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  color: #ed4d02;
  margin-top: 55px;
  margin-bottom: 50px;
}

.resetPasswordParagraph {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 14.52px;
  margin-bottom: 10px;
}

.resetPasswordParagraph2 {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 14.52px;
  margin-bottom: 20px;
}

#resetInputFeild {
  width: 100%;
  height: 36px;
  border: 1px solid #ed4d02;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 20px;
}

#resetButton {
  width: 100%;
  background: #ed4d02;
  color: #ffff;
  height: 36px;
  cursor: pointer;
  border-radius: 5px;
  border: none;
  margin-bottom: 70px;
}

.dontHaveAnAccountText {
  text-align: center;
  font-weight: 700;
}
