form {
	margin: 8rem auto;
}

.overallContainer {
	padding-top: 50px;
	display: flex;
	height: 100vh;
	overflow: hidden;
}

.theLoginSide {
	flex: 2;
	max-width: 50%;
	background: #dc6b36;
	min-height: 100vh;
}

.innerContainer {
	margin-top: 100px;
	max-width: 60%;
	margin-left: auto;
	margin-right: auto;
}

footer {
	text-align: center;
	padding-bottom: 15px;
	font-weight: bold;
}

.theImageSide {
	flex: 1;
	max-width: 50%;
	/* background: #d9d9d9; */
}

.theImageSide img {
	margin: 12rem;
	background: #d9d9d9;
}

.formGroup {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 10px 0px;
	margin-bottom: 20px;
}

.formGroup Input {
	border: 1px solid #fff;
	height: 60px;
	border-radius: 25px;
	margin-bottom: 20px;
	width: 100%;
	padding: 5px 10px 5px 50px;
	font-size: 15px;
	display: block;
	outline: 0;
	background: #dc6b36;
}

.formGroup Input::placeholder {
	color: #fff;
}

.icon {
	position: absolute;
	left: 15px;
	top: 0px;
	font-size: 20px;
	height: 80%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logInButton {
	padding: 15px;
	border-radius: 25px;
	border: none;
	width: 100%;
	background: #fff;
	font-size: 18px;
	font-weight: bold;
	color: #ed4d02;
	cursor: pointer;
}

.innerContainer .agentTitle {
	text-align: center;
	margin: 5rem auto 0;
	font-weight: 800;
}
