.containerWrapper {
  display: flex;
}

/* Dashboard Interface */
.dashboard-interface {
  width: 100%;
  padding: 30px;
  background: #d9d9d9;
  overflow: hidden;
}

.notificationText-forAgentProfile{
  margin-top: 15px;
  font-weight: 700;
  margin-right: 200px;
}

.top {
  display: flex;
  align-items: center;
}

.info-display {
  font-size: 26px;
  font-weight: 400;
  margin: 1rem 0rem 2rem;
}

.time-forAgentProfile{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-left: 300px;
  margin-top: -10px;
}

.time-one {
  background: rgba(237, 77, 2, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 10px;
  width: 92px;
  height: 42px;
}

.time-two {
  background: #d9d9d9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding-top: 10px;
  width: 150px;
  height: 42px;
}

.dashboard-container {
  margin: 2rem;
}

.p-top {
  padding: 1rem;
  border-bottom: 1px solid #b4b1af;
  color: #60616e;
  font-weight: 700;
  font-size: 14px;
}

.p-bottom {
  color: #000000;
  font-weight: 700;
  font-size: 35px;
}

.forTheAgentID {
  font-weight: 700;
}

.agentAdressAndProfileImage{
  display: flex;
  justify-content: space-between;
}


#profile-container-agentProfile{
  width: 200px;
  height: 200px;
}

#profileImage-AgentProfile{
  width: 100%;
  height: 100%;
}

.agentAndOrgDetails{
    margin-top: 50px;
    
}

.agentOrgContainer{
    padding: 28px;
    margin-top: 50px;
    font-size: 22px;
    font-weight: 100;
}

.values{
  padding: 12px 50px 12px 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  color: #000000;
  background-color: #ffff;
  border-radius: 10px;
  margin-top: 5px;
}

.disclaimer{
  font-size: 18px;
  font-weight: 400;
  color: red;
}