@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


/*Main container*/
.main-container {
  display: flex;
  /* overflow: none; */
}


/* Sidebar CSS*/
/* .sidebar-container {
  width: 230px;
  min-height: 100vh;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-right: .5px solid #B4B1AF;
  position: fixed;
} */

/* .sidebar-container .logo {
  display: flex;
  align-items: center;
  padding: 30px 0 0 30px;
  margin-right: 15px;
} */

/* .sidebar-container img {
  width: 50px;
} */

/* .heading {
  color: #6E6660;
  font-size: 25px;
  font-weight: 700;
} */

/* .it {
  color: #ED4D02
} */

/* .sidebar-lists {
  margin: 4rem 1rem;
} */

/* .sidebar-lists li {
  list-style: none;
  padding: 8px 0;
  margin-bottom: 1.5rem;
} */

/* .sidebar-lists li:hover {
  cursor: pointer;
  background: rgba(153, 157, 173, 0.22);
} */

/* .sidebar-items {
  border: 1px solid #B4B1AF;
  background: rgba(217, 217, 217, 0.12);
  border-radius: 8px;
}

.sidebar-icons {
  margin: .2rem 1rem ;
  display: flex;
  justify-content: left;
  align-items: center;
  align-self: center;
  gap: 2.5rem;
}

.sidebar-lists li a {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  font-weight: 500;
} */

/* .sidebar-lists li .dropdown-menu {
  display: none;
}

.sidebar-lists li:hover .dropdown-menu {
  display: block;
  margin: 1rem .5rem;
} */
/* DON'T FORGET TO STYLE THIS IN RELATIVE TO THE DASHBOARD ONLY(THEO) */
/* button {
  display: block;
  padding: 8px 20px;
  position: absolute;
  bottom: 0;
} */

.btn {
  border: 1px solid #B4B1AF;
  background: rgba(217, 217, 217, 0.12);
  border-radius: 8px;
  margin: 4rem 1rem;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background: rgba(153, 157, 173, 0.22);
}




/* DASHBOARD INTERFACE */
ul{ 
    list-style-type: none; 
}

.topAdmin{
  background-color: #B4B1AF;
  margin: 0rem 0rem 0rem 14rem;
  padding-top: 10px;
  width: 85%;
  height: 100vh;
  /* height: 820px; */
  justify-content: space-evenly; 
  
}
.admin_Dash_Nav{
  height: 60px;
  display: flex;
  justify-content: space-around;
  background: #fefaf7;
  border-radius: 5px;
  width: 90%;
  
  /* margin-top: 10px; */
  margin: 15px 0px 0px 60px
  
 }

#adminBar{
     margin-top: 5px;
}
#dashBar{
    margin: 25px 0px 0px 0px;
   /* margin-left: 5px; */
}
.time{
  display: flex;
  gap: 2rem;
  align-content: flex-end;
  margin-top: 10px;
  margin-right: 35px;
} 

.time-one{
  background: rgba(237, 77, 2, 0.7);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* text-align: center; */
  padding-top: 10px; 
  width: 92px;
  height: 35px;
}

.time-two{
  background: #D9D9D9;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* text-align: center; */
  padding-top: 10px; 
  width: 150px;
  height: 35px;
} 



/* THE NOTIFICATION SECTION */
.NotifyBar{
    background-color: #fffffe;
    margin: 60px 40px 60px 60px; 
    height: 10rem; 
    width: 90%;
    border: 1px solid #000000;
    box-shadow:0px 5px 4px rgba(0, 0, 0, 0.25);
    overflow: scroll;

}
.Notify{
    margin: 20px 0px 10px 40px;
    
}
.Notifications{
    display: flex;
    justify-content: space-around;
    
    margin-bottom: 10px;
    
}

#notificatonlist li{
    margin: 10px 0px 0px 40px;
    padding: 10px 10px 0px 10px;
    border-radius: 8px;
    border: 1px solid #B4B1AF;
    width: 90%;
    background-color: #cbc4c4;
}

.notifyNums{
  padding: 8px 20px 8px 20px;
  
  border-radius: 5px;
  width: 25px;
  background-color: #ED4D02;
  font-size: x-small;
  
}

#notificatonlist li:hover{
    cursor: pointer;
    background: rgba(153, 157, 173, 0.22);
    border-radius: 5px;
}

/* THE REPORTS INTERFACE */
.Report_Cards{
    display: flex;
    margin-top: 50px;
    justify-content: space-around; 
    padding: 10px;
    
    
}
#report_cards{
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
    /* width: 90%; */
    height: 5%;
    background-color:#ffffff;
    

}
#cardNum{
  margin-top: 30px;
  text-align: center;
  font-weight: 700;
  font-size: 30px;
}
hr{
  margin-top: 10px;
}

.cardIcons{
margin-left: 150px;
}


/* PROFILE IMAGE  */
#imageUpload {
  display: none;
}

#profile-container #profileImage {
  cursor: pointer;
  
}

#profile-container {
  width: 50px;
  height: 50px;
  /* margin-top: 10px; */
  overflow: hidden;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#profile-container img {
  width: 50px;
  height: 50px;
}

.forTheprofileImage {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* gap: 15px; */
}


#profilename{
  margin-right: 10px;
}

@media(min-width:300px) and (max-width:900px){

  .admin_Dash_Nav{
    width: 80%;
  };
  .NotifyBar{
    width: 70%
  };
  .Notifications{
    width: 80%;
    display: grid;
  }

  #report_cards{
    /* width: 50% */
    display: grid;
    
    
  };
  .Report_Cards{
    display: grid;
  }
  

}