@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #FFFFFF;
}

/*Main container*/
.main-container {
  display: flex;
}

/* Sidebar CSS*/
.sidebar-container {
 
  width: 230px;
  min-height: 100vh;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-right: .5px solid #B4B1AF;
  /* position: fixed; */
}

.sidebar-container .logo {
  display: flex;
  align-items: center;
  padding: 30px 0 0 30px;
  margin-right: 15px;
}

.sidebar-container img {
  width: 50px;
}

.heading {
  color: #6E6660;
  font-size: 25px;
  font-weight: 700;
}

.it {
  color: #ED4D02
}

.sidebar-lists {
  margin: 4rem 1rem;
}

.sidebar-lists li {
  list-style: none;
  padding: 8px 0;
  margin-bottom: 1.5rem;
}

.sidebar-lists li:hover {
  cursor: pointer;
  background: rgba(153, 157, 173, 0.22);
}

.sidebar-items {
  border: 1px solid #B4B1AF;
  background: rgba(217, 217, 217, 0.12);
  border-radius: 8px;
}

.sidebar-icons {
  margin: .2rem 1rem ;
  display: flex;
  justify-content: left;
  align-items: center;
  align-self: center;
  gap: 2.5rem;
}

.sidebar-lists li a {
  text-decoration: none;
  color: #000000;
  font-size: 13px;
  font-weight: 500;
}

.sidebar-lists li .dropdown-menu {
  display: none;
}

.sidebar-lists li:hover .dropdown-menu {
  display: block;
  margin: 1rem .5rem;
}

button {
  display: block;
  padding: 8px 20px;
  bottom: 0;
}

.btn {
  border: 1px solid #B4B1AF;
  background: rgba(217, 217, 217, 0.12);
  border-radius: 8px;
  margin: 4rem 1rem;
  font-size: 13px;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background: rgba(153, 157, 173, 0.22);
}
/* ENTIRE REPORT INTERFACE */

.report_interface{
    background-color: #B4B1AF;
    width: 100%;
    /* margin-left: 70px; */
}

ul{ 
    list-style-type: none; 
}
.admin_Dash_Nav{
  height: 50px;
  display: flex;
  justify-content: space-between;
  background: #fdfdfc;
  border-radius: 5px;
  /* position: fixed; */
  width: 70rem;
  margin-top: 30px;
  margin-left: 60px;
}

#adminBar{
    margin-top: 5px;
    margin-right: 10px;
    color: #ED4D02;
}
#dashBar{
    margin-top: 5px;
    margin-left: 5px;
}

.time{
    display: flex;
    gap: 2rem;
    justify-content: right;
    /* align-items: flex-end; */
    align-content: flex-end;
    margin-top: 10px;
    margin-right: 35px;
  } 
  
  .time-one{
    background: rgba(237, 77, 2, 0.7);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 10px; 
    width: 92px;
    height: 35px;
  }
  
  .time-two{
    background: #D9D9D9;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-align: center;
    padding-top: 10px; 
    width: 150px;
    height: 35px;
  } 
  #imageUpload {
    display: none;
  }
  
  #profile-container #profileImage {
    cursor: pointer;
  }
  
  #profile-container {
    width: 50px;
    height: 50px;
    overflow: hidden;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border-radius: 50%;
    
  }
  
  #profile-container img {
    width: 50px;
    height: 50px;
    
  }
  
  .forTheprofileImage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }

  .Display_comtainier{
    background: #999dad38;
    width: 90%;
    margin-top: 30px;
    margin-left: 60px;
    
    padding: 10px 0px 5px 0px;
    border-radius: 10px; 
    overflow: none;
    /* overflow: scroll; */
  }
.checkSearchBar{
    display: flex;
    /* justify-content: space-between; */
    /* background-color: rebeccapurple; */
    padding: 5px 0px 0px 0px;
    margin-top: 20px;
    margin-bottom: auto;
    align-items: center;
    

}
/* .checkboxes{
    padding: 0px;
    margin: 0px;

} */
.search_Bar{
    padding: 2px;
    background-color: #FFFFFF;
    font-size:small;
    width: 500px;
    margin-left: 5px;
    border: 3px solid #f1efef;
    border-radius: 3px;
    margin-right: 10px;
}


  .table_interfc {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin: 0.8rem 0 6rem 0;
  border: 1px solid black;
  padding: 5px;
}

  /* table, th, td {
    border: 1px solid black;
    padding: 5px;
  
} */
  .table_rowss{
    border: 1px solid black;
    /* padding: 5px; */
    background-color: #FFFFFF;
    color: #000000;
    justify-content: space-evenly;
    border: 1px solid black;
    padding: 1px;
  }

  @media(min-width: 300px) and (max-width: 900px) {
    .Display_comtainier{
        width: 70%;
        margin-top: 25px;
        padding: 5px 0px 0px 0px;
        margin-left: 60px;
    }

    .table_interfc {
        
        width: 90%;
        margin: 0.8rem 0 6rem 0;
        padding: 0px;
        font-size: small;
    }
   /* .table_rowss{
          width: 50%;
    } */

    /* .table_rowss thead{
      display: none;
    }
    tbody, tr, td { */
      /* display: inline-block; */
      /* width: 90%;
    } */
    
  }
