@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*Main container*/
.main-container {
	display: flex;
	/* overflow: none; */
}

/* DASHBOARD INTERFACE */
ul {
	list-style-type: none;
}

.topAdmin {
	background-color: #d0d0d0;
	margin: 0rem 0rem 0rem;
	padding-top: 10px;
	width: 100%;
	min-height: 100vh;
	/* height: 820px; */
	justify-content: space-evenly;
}
.admin_Dash_Nav {
	height: 60px;
	display: flex;
	justify-content: space-around;
	background: #d0d0d0;
	border-radius: 5px;
	width: 90%;

	/* margin-top: 10px; */
	margin: 15px 0px 0px 60px;
}

#adminBar {
	margin-top: 5px;
}
#dashBar {
	margin: 25px 0px 0px 0px;
	font-weight: 700;
	font-size: 20px;
	/* margin-left: 5px; */
}
.time {
	display: flex;
	gap: 2rem;
	align-content: flex-end;
	margin-top: 10px;
	margin-right: 35px;
}

.time-one {
	background: rgba(237, 77, 2, 0.7);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	/* text-align: center; */
	padding-top: 10px;
	width: 92px;
	height: 35px;
}

.time-two {
	background: #d9d9d9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	/* text-align: center; */
	padding-top: 10px;
	width: 150px;
	height: 35px;
}

/* THE NOTIFICATION SECTION */
.NotifyBar {
	/* background-color: #fffffe; */
	margin: 60px 40px 60px 60px;
	padding: 5px 30px 50px 30px;
	/* height: 15rem; */
	width: 90%;
	/* border: 1px solid #d0d0d0; */
	/* box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25); */
	/* border-radius: 10px; */
}
.Notify {
	margin: 20px 0px 0px 32px;
	font-weight: 700;
	font-size: 20px;
	display: flex;
	background-color: #60616e;
	justify-content: space-between;
	padding: 0.5rem;
	color: #ffffff;
	border: 1px solid rgb(232, 229, 229);
}
/* .report-id{
  display: flex; */

/* } */
.Notifications {
	margin: 0px 0px 0px 32px;
	padding-bottom: 5px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
	background-color: #60616e;
	padding: 1rem;
	color: #ffffff;
	border: 1px solid rgb(232, 229, 229);
}

#notificatonlist li {
	margin: 10px 0px 0px 0px;
	padding: 10px 10px 0px 10px;
	border-radius: 8px;
	border: 1px solid #b4b1af;
	width: 100%;
	background-color: #fffcfcee;
}

.notifyNums {
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	width: 25px;
	background-color: #ef6728;
	font-size: x-small;
	border: 1px solid rgba(85, 80, 75, 0.86);
}

#notificatonlist li:hover {
	cursor: pointer;
	background: rgba(153, 157, 173, 0.22);
	border-radius: 5px;
}

/* THE REPORTS INTERFACE */
.Report_Cards {
	display: flex;
	margin-top: 50px;
	justify-content: space-around;
	padding: 10px;
	margin-right: 2rem;
	margin-left: 2rem;
}
#report_cards {
	padding: 5px;
	border-radius: 8px;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
	/* width: 10%; */
	height: 5%;
	background-color: #ffffff;
}
#cardNum {
	margin-top: 30px;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
}
hr {
	margin-top: 10px;
}

.cardIcons {
	margin-left: 150px;
}

/* PROFILE IMAGE  */
#imageUpload {
	display: none;
}

#profile-container #profileImage {
	cursor: pointer;
}

#profile-container {
	width: 50px;
	height: 50px;
	/* margin-top: 10px; */
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

#profile-container img {
	width: 50px;
	height: 50px;
}


#profilename {
	margin-right: 10px;
}

@media (min-width: 300px) and (max-width: 900px) {
	.admin_Dash_Nav {
		width: 100%;
		display: grid;
		padding: 5px;
		margin: 25px 2px auto auto;
		align-content: space-around;
	}

	.NotifyBar {
		width: 105%;
		margin: auto;
		overflow: scroll;
		
	}
	.Notifications {
		/* width: 150%; */
		margin: auto;
		/* align-content: space-between; */
		overflow: scroll;
		padding: auto;
		
	}
	#notificatonlist{
		overflow: scroll;
		height: 500px;
		background-color: #ffffffa8;
		margin: 0px;
		padding: 1px 1px 1px 1px;
	}

	#report_cards {
		width: 100%;
		height: 90%;
		/* display: grid; */
	}
	.Report_Cards {
		display: grid;
		width: 70%;
	}

	.time {
		padding: 0px;
		margin: 0px;
		size: small;
	}
	#dashBar {
		margin: 0px;
		padding: 2px;
		width: 100%;
	}
	.tableSearchOption{
		width: 100%;
	}

	.Notify{
		margin: auto;

	}
	#notificatonlist{
		margin: auto;
		
	}

	.agent-board-btn{
		/* padding: 10px;
		margin: 10px;
		width: 60%; */
		padding: 5px;
		margin: auto;
	}
	
	
}
/* ADMIN REPORT TABLE  */
#taable_sec{
    margin: 50px 0px 0px 60px;
	padding-bottom: 5px;
    background: #999DAD38;
	width: 90%;
    align-content: center;
	padding: 5px 1px 0px 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
}
.tableTitle .tableSearch{
	/* margin: 1.5em 0em 0em auto; */
	display: flex;
	align-items: right;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	background-color: #f5f5f5;
	width: 25em;
	height: 3em;
	/* margin-left: auto; */
}

@media (min-width: 300px) and (max-width: 900px) {
	#taable_sec{
		overflow: scroll;
		margin: 60px auto auto auto;
	}

	.agent-intro{
	display: grid;
	padding: 2px;
	margin: 10px;
	}
}

/* THE AGENT TABLE  */

.agent-intro{
	display: flex;
	padding: 2px;
	margin: 10px;
}

.suspend-btn{
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    /* color; */
    padding: 10px 10px 10px 15px;
  }
  .suspend-btn:hover {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(220, 20, 20);
    border-radius: 8px;
  }

  .agent-board-btn{
	/* padding: 10px; */
	margin-left: 250px;
	width: 100%;
	background-color: rgba(248, 87, 18, 0.923);
	border: none;
	border-radius: 5px;
	/* width: 20em; */
	height: 3em;

  }

  .agent-board-btn:hover{
	background-color: rgba(242, 115, 55, 0.7);
  }

  @media (min-width: 300px) and (max-width: 900px) {

	.agent-intro{
	display: grid;
	padding: 2px;
	margin: 10px;
	}
}
  