/* PROFILE IMAGE  */
#imageUpload {
  display: none;
}

#the-profile-container #TheprofileImage {
  cursor: pointer;
}

#the-profile-container {
  /* width: 50px; */
  /* height: 50px; */
  /* overflow: hidden; */
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
}

#the-profile-container img {
  width: 150px;
  height: 150px;
}
.profile-input{
  width: 100%;
  height: 45px;
  padding: 10px;
}

.TheprofileImage {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.main-details-container{
    margin: 20px 0px 0px 20px;
}
.acct-intro{
    margin: 20px 0px 0px 43px
}
.acct-info{
    margin: 20px 0px 0px 43px;
    padding: 5px;
    justify-content: space-around;
    /* background-color: aliceblue; */
}
.details_Info{
    padding: 5px;
    margin: 5px 0px 0px 0px;
    font-size: medium;
    width: 70%;
    /* border-radius: 40px; */
    /* gap: 2px; */
    
}
.details_Info label{
    padding-right: 70px;
    display: block;
    padding-left: 10px;
}
.info-placehold{
    padding: 5px;
    /* margin: 2px 0px 0px 80px; */
    margin: auto;
    width: 70%;
    height: 50px;
    /* radius: 2px; */
    justify-items: center;
}
/* desige error message here */
.errors {
    color: rgb(120, 18, 39);
    font-size: smaller;
} 

#prof-btn{
    background-color: rgba(255, 127, 80, 0.782);
    padding: 10px 18px;
    width: 10%;
    margin: 5px 0px 2px 50px;
    /* border-radius: 12px; */
    border: none;
}
@media (min-width: 300px) and (max-width: 900px) {
	.main-details-container{
    margin-top: 110px ;
  }
.acct-info{
  margin-top: 50px;
}

#prof-btn{
  margin: 10px 0px 10px 0px;
  padding: auto;
  width: 50%;
  
}
.time{
  margin-top: 60px;
  
}
}