@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

/*Main container*/
.main-container {
	display: flex;
}

/* DASHBOARD INTERFACE */
ul {
	list-style-type: none;
}

.topAdmin {
	background-color: #d0d0d0;
	margin: 0rem 0rem 0rem;
	padding-top: 10px;
	width: 100%;
	min-height: 100vh;
	justify-content: space-evenly;
}
.admin_Dash_Nav {
	height: 60px;
	display: flex;
	justify-content: space-around;
	background: #d0d0d0;
	border-radius: 5px;
	width: 90%;
	margin: 15px 0px 0px 20px;
	padding: 0px;
}

#adminBar {
	margin-top: 5px;
}
#dashBar {
	margin: 25px 0px 0px 0px;
	padding: 0px;
}
.time {
	display: flex;
	gap: 2rem;
	align-content: flex-end;
	margin-top: 10px;
	margin-right: 35px;
}

.time-one {
	background: rgba(237, 77, 2, 0.7);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding-top: 10px;
	width: 92px;
	height: 35px;
}

.time-two {
	background: #d9d9d9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	padding-top: 10px;
	width: 150px;
	height: 35px;
}

/* THE NOTIFICATION SECTION */
.NotifyBar {
	margin: 60px 40px 60px 32px;
	padding: 5px 30px 50px 1px;
	width: 90%;
}
.Notify {
	margin: 20px 0px 0px 32px;
	font-weight: 700;
	font-size: 20px;
	display: flex;
	background-color: #60616e;
	justify-content: space-between;
	padding: 0.5rem;
	color: #ffffff;
	border: 1px solid rgb(232, 229, 229);
}

.Notifications {
	margin: 0px 0px 0px 32px;
	padding-bottom: 5px;
	display: flex;
	justify-content: space-around;
	margin-bottom: 10px;
	background-color: #60616e;
	padding: 1rem;
	color: #ffffff;
	border: 1px solid rgb(232, 229, 229);
}

#notificatonlist li {
	margin: 10px 0px 0px 0px;
	padding: 10px 10px 0px 10px;
	border-radius: 8px;
	border: 1px solid #b4b1af;
	width: 100%;
	background-color: #fffcfcee;
}

.notifyNums {
	padding: 8px 20px 8px 20px;
	border-radius: 5px;
	width: 25px;
	background-color: #ef6728;
	font-size: x-small;
	border: 1px solid rgba(85, 80, 75, 0.86);
}

#notificatonlist li:hover {
	cursor: pointer;
	background: rgba(153, 157, 173, 0.22);
	border-radius: 5px;
}

/* THE REPORTS INTERFACE */
.Report_Cards {
	display: flex;
	padding: 10px;
	gap: 100px;
	margin: 60px 20px 20px 60px;
}
#report_cards {
	padding: 10px;
	margin: 5px;
	border-radius: 8px;
	box-shadow: 0px 5px 4px rgba(0, 0, 0, 0.25);
	height: 5%;
	background-color: #ffffff;
}
#cardNum {
	margin-top: 30px;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
}
hr {
	margin-top: 10px;
}

.cardIcons {
	margin-left: 150px;
}

/* PROFILE IMAGE  */
#imageUpload {
	display: none;
}

#profile-container #profileImage {
	cursor: pointer;
}

#profile-container {
	width: 50px;
	height: 50px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

#profile-container img {
	width: 50px;
	height: 50px;
}

#profilename {
	margin-right: 10px;
}

@media (min-width: 300px) and (max-width: 900px) {
	.admin_Dash_Nav {
		width: 100%;
		display: grid;
		padding: 5px;
		margin: 25px 2px auto auto;
		align-content: space-around;
	}

	.NotifyBar {
		width: 80%;
		margin: 25px 2px auto 10px;
		overflow: scroll;
	}
	.Notifications {
		margin: auto;
		overflow: scroll;
		padding: auto;
	}
	#notificatonlist {
		overflow: scroll;
		height: 500px;
		background-color: #ffffffa8;
		margin: 0px;
		padding: 1px 1px 1px 1px;
	}

	#report_cards {
		width: 100%;
		height: 90%;
	}
	.Report_Cards {
		display: grid;
		width: 50%;
		margin-top: 100px;
		margin-left: 100px;
		gap: 20px;
	}

	.time {
		padding: 0px;
		margin: 0px;
		size: small;
	}
	#dashBar {
		margin-top: 100px;
		padding: 2px;
	}
	.tableSearchOption {
		width: 100%;
	}
	.tableSearch {
		padding: 5px;
		margin: 10px;
	}
	.Notify {
		margin: auto;
	}
	#notificatonlist {
		margin: auto;
	}

	.agent-board-btn {
		padding: 5px;
		margin: auto;
	}
}
/* ADMIN REPORT TABLE  */
#taable_sec {
	margin: 70px 0px 0px 60px;
	background: #999dad38;
	width: 90%;
	align-content: center;
	padding: 10px 1px 0px 1px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.tableTitle .tableSearch {
	display: flex;
	align-items: right;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	background-color: #f5f5f5;
	width: 25em;
	height: 3em;
	padding: 5px;
	margin: 10px;
}

@media (min-width: 300px) and (max-width: 900px) {
	#taable_sec {
		overflow: scroll;
		margin: 100px auto auto auto;
	}
	.forTheprofileImage {
		display: none;
	}
}

/* THE AGENT TABLE  */

.agent-intro {
	display: flex;
	padding: 2px;
	margin: 10px;
	justify-content: space-between;
	align-items: stretch;
}

.suspend-btn {
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	background-color: crimson;
	margin: 15px auto auto auto;
	border-radius: 10px;
	padding-top: 2px;
}
.suspended-btn {
	background-color: red;
	margin: 15px auto auto auto;
}
.suspend-btn:hover {
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	color: rgb(255, 255, 255);
	border-radius: 8px;
	cursor: pointer;
}

.agent-board-btn {
	background-color: rgb(255, 72, 0);
	border: none;
	border-radius: 5px;
	width: 20em;
	height: 3em;
}

.agent-board-btn:hover {
	background-color: rgba(242, 115, 55, 0.7);
}

@media (min-width: 300px) and (max-width: 900px) {
	.agent-intro {
		display: grid;
		padding: 2px;
		margin: 10px;
	}

	.agent-board-btn {
		width: 160%;
	}
}
