header {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	align-items: center;
	padding: 8rem 0 1rem 0;
}

.login-heading {
	font-weight: 900;
	font-size: 17px;
	text-align: center;
	color: #ed4d02;
	margin-bottom: 3rem;
}

form {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-bottom: 20px;
}

.input {
	border-radius: 2rem;
	padding: 1.2rem;
	width: 25rem;
	border: 1px solid #ed4d02;
	outline: none;
	display: inline;
	margin: 0;
}

input {
	border: 0;
	width: 20rem;
	outline: none;
}

input[type='text'],
input[type='password'] {
	padding-left: 1rem;
	font-size: 17px;
	font-weight: 700;
	fill: none;
	background: transparent;
}

input::placeholder {
	color: #000000;
	padding-top: 1rem;
}

/* styling for the additional links */
a {
	text-decoration: none;
	color: inherit;
}

#admin-login {
	color: #a9a9a9;
}

.other_links {
	text-align: center;
	padding: 10px 0;
	line-height: 1rem;
	font-weight: 700;
}

.other_links #sign-up a {
	color: #ed4d02;
	padding-left: 15px;
}

.other_links #sign-up a:hover {
	color: #b13800;
	text-decoration: underline;
}

.admin-login {
	display: flex;
	gap: 4rem;
	justify-content: center;
	align-items: center;
	padding: 40px 0 20px 0;
}

#admin-login:hover {
	text-decoration: underline;
	color: #8f8f8f;
}

/* RESPONSIVE DESIGN */
/* Working on the mobile responsiveness screen 940 and below */
@media (max-width: 940px) {
	.logoLogoHeading {
		display: flex;
		margin-left: 15px;
	}

	nav .menu_button {
		margin-top: 20px;
		margin-right: 20px;
	}

	nav .menu_button i {
		display: block;
	}

	nav .navLinkWrapper {
		position: fixed;
		top: 80px;
		left: -100%;
		background: #111;
		height: 100vh;
		width: 100%;
		display: block;
		text-align: center;
		transition: all 0.3s ease;
	}

	/* For the Id integration with the hamburger, remeber we change left from 0 to -100% in the nav ul*/
	#click:checked ~ .navLinkWrapper {
		left: 0%;
	}

	nav .navLinkWrapper li {
		margin: 40px 0;
	}

	nav .navLinkWrapper li a {
		font-size: 20px;
		display: block;
	}

	header {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
		padding: 8rem;
	}

	form {
		display: flex;
		flex-direction: column;
		gap: 2rem;
		padding: 1rem;
	}

	.input {
		border-radius: 1rem;
		padding: 0.8rem;
		width: 20rem;
		border: 1px solid #ed4d02;
	}

	input {
		width: 15rem;
	}
}

/* Eye icon styling */
.fa-eye {
	cursor: pointer;
}
