.makereport-container {
	display: flex;
}

.makereportform-container {
	width: 100%;
	padding: 30px 4rem;
	background: #d9d9d9;
}

.main-makereport {
	background: #fdfcfbd9;
	margin: 2rem auto;
	padding: 2rem 7rem;
	border: 2px solid #53555ba5;
	border-radius: 10px;
	min-height: 50vh;
	width: 70%;
	z-index: 2;
}
/* 
.makereportform {
	background: #ffffffc0;
} */

.makereport-title {
	font-size: 26px;
}

.main-makereport-welcome {
	margin-top: 2rem;
	font-size: 20px;
	font-weight: 700;
}
@media (min-width: 300px) and (max-width: 900px) {
	.main-makereport {
		width: 300px;
		margin-top: 100px;
		margin-left: 0px;
		padding: 5px;
	}
	.makereportform {
		padding: 0px;
	}
	.welcome{
		margin-top: 10px;
	}

}
