footer {
	background: #fff;
	text-align: center;
	padding: 1px 0;
	line-height: 1.3rem;
	font-weight: 700;
	font-size: 14px;
}

footer a {
	text-decoration: none;
	color: #000;
}

footer a:hover {
	color: #000;
	text-decoration: underline;
}
