/*Main container*/
.main-container {
	display: flex;
}


/* Dashboard Interface */

.dashboard-interface {
	width: 100%;
	padding: 30px;
	/* margin: 0 5rem; */
	background: #d9d9d9;
	/* margin-left: 14rem; */
	overflow: hidden;
}

.top {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.info-display {
	font-size: 26px;
	font-weight: 400;
}

.time {
	display: flex;
	/* gap: 2rem; */
	justify-content: space-between;
	align-items: center;
	align-content: center;
	/* padding-left: 40px; */
}

.time-one {
	background: rgba(237, 77, 2, 0.7);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding-top: 10px;
	width: 92px;
	height: 42px;
}

.time-two {
	background: #d9d9d9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding-top: 10px;
	width: 150px;
	height: 42px;
}

.dashboard-container {
	margin: 2rem auto;
}

.registeredAgencyName {
	text-align: left;
	padding-left: 20px;
	font-weight: 700;
}

.forTheAgentID {
	font-weight: 700;
}

#containerHousingTheTableData {
	margin-top: 80px;
	border-radius: 10px;
	padding: 5px 30px 50px 30px;
	background-color: rgba(110, 102, 96, 0.3);
}

.user-table {
	margin: 4rem auto;
}

.report-table {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.report-text {
	font-size: 20px;
	font-weight: 700;
}

.profileImageInputField {
	width: 100%;
	height: 2rem;
	outline: none;
	border: 2px solid #606163;
	border-radius: 5px;
}

/* Table css */
.tableSearchOption[type='text'] {
	padding: 5px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 700;
	background-color: #f5f5f5;
}

::placeholder {
	color: #000000;
}

table {
	font-family: arial, sans-serif;
	border-collapse: collapse;
	width: 100%;
	margin: 4rem 0 6rem 0;
}

td,
th {
	border: 1px solid #d9d9d9;
	text-align: left;
	padding: 20px;
}

th {
	background-color: #60616e;
	color: #ffffff;
}

tr:nth-child(odd) {
	background-color: rgba(110, 102, 96, 0.3);
}



.user-table {
	margin: 0.1rem;
	padding: 0.1rem;
}




/* CSS FOR THE CARDS METRICS START HERE */

.metricCardContainer {
	display: flex;
	justify-content: space-around;
	margin-top: 80px;
}

.coverForEachCard {
	border: 1px solid #f5f5f5;
	background: #f5f5f5;
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.25);
	width: 250px;
	height: 124px;
	padding: 10px 5px 10px 5px;
}

.forCardWrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #b4b1af;
	padding: 15px 15px;
}

.cardWording {
	font-weight: 700;
	font-size: 13px;
	color: #60616e;
	text-align: center;
}


.theMetricItself {
	margin-top: 10px;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
}

.forNotificationButton {
	background-color: rgba(0, 0, 0, 0.25);
	/* background-color: rgba(142, 157, 198, 0.1); */
	/* color: #000000; */
	color: #ed4d02;
	font-size: 14px;
	font-weight: 700;
	text-align: center;
	padding: 15px;
	box-shadow: rgba(0, 0, 0, 0.25);
	border-radius: 8px;
	width: 201px;
	margin-bottom: 25px;
}

#messageLink {
	text-decoration: none;
	color: #ffffff;
	font-weight: 700;
}


/* CSS FOR THE CARDS METRICS ENDS HERE */

/* CSS FOR THE PROFILE IMAGE */
#imageUpload {
	display: none;
}

#profile-container #profileImage {
	cursor: pointer;
}

#profile-container {
	width: 50px;
	height: 50px;
	overflow: hidden;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
}

#profile-container img {
	width: 50px;
	height: 50px;
}



/* CSS FOR THE PROFILE IMAGE ENDS HERE*/



/* ################################### */
/* CSS FOR THE POP MODAL STRATS HERE */
.modal {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	opacity: 0;
	visibility: hidden;
	transform: scale(1.1);
	transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #b4b1af;
	padding: 1rem 1.5rem;
	/* width: 24rem; */
	width: 70%;
	height: 90%;
	border-radius: 0.5rem;
}

.show-modal {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
	transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}

/* ################################### */


.formButton {
	text-decoration: none;
	padding: 5px;
	background-color: #ed4d02;
	color: #fff;
	border-radius: 3px;
}

