/* fOR THE IMAGE ON THE LANDING PAGE */
.hero-image {
	padding-top: 5rem;
	background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
		url('/public/assets/dashboardImage.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 744px;
	transition: 0.3s ease;
	display: flex;
	justify-content: center;
	align-items: center;
}

.hero-text {
	margin: 5rem auto 0;
	color: #fff;
	text-align: center;
}

.hero-text h1 {
	font-size: 40px;
	font-weight: 800;
	padding: 4rem;
}

.hero-text p {
	font-size: 20px;
	font-weight: 500;
	line-height: 2rem;
	padding-bottom: 4rem;
}

.hero-btn {
	padding: 0.8rem 1.2rem;
	font-weight: 700;
	text-align: center;
	text-decoration: none;
	color: #ed4d02;
	background: #ffffff;
	border: 2px solid #ed4d02;
	width: 50%;
	height: 100px;
	border-radius: 7.5px;
}

.hero-btn:hover {
	background: #ed4d02;
	color: #ffffff;
}
/* WHAT WE DO SECTION CSS STARTS HERE */
.whatWedo {
	margin-top: 100px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.whatWeDoHeading {
	text-align: center;
	font-size: 25px;
	font-weight: 800;
	color: #ed4d02;
	margin-top: 20px;
	margin-bottom: 20px;
}

.whatWedo .whatWeDoParagraph {
	text-align: center;
	font-weight: 700;
	font-size: 17px;
	line-height: 1.8rem;
	padding: 10px;
}

.whatWedoButton {
	margin-top: 20px;
	display: flex;
	justify-content: center;
	gap: 20px;
}

.whatWedoButton .btn {
	text-decoration: none;
	padding: 15px;
	color: #ed4d02;
	border: 2px solid #ed4d02;
	border-radius: 10px;
	font-weight: 700;
}

.whatWedoButton .btn:hover {
	background-color: #ed4d02;
	color: #ffff;
}

.whatWedoButton .btn.active {
	background-color: #ed4d02;
	color: #ffff;
}
/* WHAT WE DO SECTION CSS ENDS HERE */
/* --------------------------------- */

/* MEDIA QUERY FOR WHAT WE DO STARts HERE  */
@media (max-width: 940px) {
	.whatWedoButton {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		gap: 10px;
	}

	.whatWedoButton .btn {
		text-decoration: none;
		padding: 10px;
		color: #ed4d02;
		border: 2px solid #ed4d02;
		border-radius: 10px;
		font-weight: 400;
	}
}

@media (max-width: 500px) {
	.whatWedoButton .btn {
		text-decoration: none;
		padding: 10px;
		color: #ed4d02;
		border: 2px solid #ed4d02;
		border-radius: 10px;
		font-size: 14px;
	}
}

@media (max-width: 800px) {
	.whatWedoButton {
		margin-top: 40px;
		display: flex;
		justify-content: center;
		gap: 10px;
	}

	.whatWedoButton .btn {
		text-decoration: none;
		padding: 5px;
		color: #ed4d02;
		border: 2px solid #ed4d02;
		border-radius: 10px;
		font-weight: 500;
	}
}
/* MEDIA QUERY FOR WHAT WE DO ENDS HERE  */

/* FREquenTLY ASKED QUESTION CSS STARTS HERE */

.frequentlyAskedQuestion {
	margin-top: 80px;
	min-height: 50vh;
}

.frequentlyAskedQtnHeading {
	font-size: 25px;
	font-weight: 800;
	color: #ed4d02;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}

.containerHousingAccordion {
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #1017ac14;
	color: #444;
	cursor: pointer;
	padding: 18px;
	width: 100%;
	font-size: 17px;
	font-weight: 700;
	text-align: left;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
	background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
	padding: 0 18px;
	background-color: white;
	display: none;
	overflow: hidden;
}

.panel p {
	text-align: justify;
	padding: 15px;
}

.accordion:after {
	content: '\02795'; /* Unicode character for "plus" sign (+) */
	font-size: 13px;
	color: #777;
	float: right;
	margin-left: 5px;
}

.active:after {
	content: '\2796'; /* Unicode character for "minus" sign (-) */
}

/* FREQUENTLY ASKED QUESTION CSS ENDS HERE */

/* RESPONSIVE DESIGN FOR NAV BAR IS HERE */
/* Working on the mobile responsiveness screen 940 and below */
@media (max-width: 940px) {
	.logoLogoHeading {
		display: flex;
		margin-left: 15px;
	}

	nav .menu_button {
		margin-top: 20px;
		margin-right: 20px;
	}

	nav .menu_button i {
		display: block;
	}

	nav .navLinkWrapper {
		position: fixed;
		top: 80px;
		left: -100%;
		background: #111;
		height: 100vh;
		width: 100%;
		display: block;
		text-align: center;
		transition: all 0.3s ease;
	}

	/* For the Id integration with the hamburger, remember we change left from 0 to -100% in the nav ul*/
	#click:checked ~ .navLinkWrapper {
		left: 0%;
	}

	nav .navLinkWrapper li {
		margin: 40px 0;
	}

	nav .navLinkWrapper li a {
		font-size: 20px;
		display: block;
	}

	nav .navLinkWrapper li a.active,
	nav .navLinkWrapper li a:hover {
		background: none;
		color: #ed4d02;
	}
}
/* RESPONSIVE DESIGN FOR NAV BAR ENDS HERE */

/* WHY US SECTION */
#whyUs {
	margin-top: 50px;
	background: #f0f0ef;
	min-height: 80vh;
	padding: 5px 0 20px 0;
}

#worksText {
	font-size: 25px;
	font-weight: 800;
	color: #ed4d02;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 80px;
}

#flexContainerWorks {
	display: flex;
	margin: 10px 10px;
	padding: 50px 40px;
	justify-items: flex-end;
	gap: 10rem;
}

.image {
	flex: 1;
	background-image: url(/public/assets/Amplifyyourvoice.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: 0.3s ease;
	margin-left: 50px;
}

.imageContainer {
	display: flex;
	gap: 50px;
}

.gridContainer {
	flex: 1;
	width: calc(100% - 300px);
	padding: 20px;
}

.goalSection {
	display: flex;
	gap: 10px;
	margin-bottom: 15px;
}

.contentTitle {
	font-size: 18px;
	font-weight: 700;
	padding-bottom: 10px;
}

.contentParagraph {
	line-height: 2rem;
	font-size: 17px;
	font-weight: 600;
	text-align: left;
	margin-bottom: 10px;
}

/* WHY US SECTION ENDS HERE */

/* HOW IT WORKS SECTION STARTS HERE */

.howITWorksHeading {
	font-size: 25px;
	font-weight: 800;
	color: #ed4d02;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 80px;
}

.howITWOrks {
	margin-top: 70px;
	background: #f0f0ef;
	min-height: 100vh;
	padding: 20px;
}

.imageContainerHowItWork {
	display: flex;
	gap: 20px;
}

.imageForMan {
	flex: 2;
	background-image: url(/public/assets/manImage.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	transition: 0.3s ease;
	/* height: 100vh;
  width: 100%; */
	margin-bottom: 50px;
}

.stepbyStepApproachContainer {
	flex: 1;
	width: calc(100% - 300px);
	padding: 20px;
	margin: 15px;
}

.stepBystepHeading {
	text-align: center;
}

.listContainer {
	padding: 20px;
}

.listContainer li {
	list-style: none;
	padding: 20px;
	background: #ed4d02;
	color: #fff;
	border-radius: 5px;
	margin: 5px;
}

/* MEDIA QUERY FOR HOW IT WORKS */
@media (max-width: 940px) {
	.imageContainerHowItWork {
		display: block;
	}

	.imageForMan {
		display: none;
	}

	.stepbyStepApproachContainer {
		width: 100%
	}
}

/* MEDia QUERY FOR HOW IT WORKS SECTION */
@media (max-width: 940px) {
	#flexContainerWorks {
		display: block;
	}

	.image {
		display: none;
	}

	.stepbyStepApproachContainer {
		width: 100%
	}
	
}
/* MEDIA QUERY FOR HOW IT WORKS SECTION ENDS HERE */
