.footer {
	background-color: #f6a883;
}

.footer_section {
	padding: 50px;
	display: flex;
	justify-content: space-evenly;
	width: 100%;
}

.logoHeading {
	color: #6e6660;
	font-size: 36px;
}

ul {
	font-size: 16px;
	font-weight: 700;
}

.footerLinkDocs {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-right: 75px;
	margin-bottom: 5px;
}

.footerLinkDocs li {
	padding: 40px;
	list-style: none;
}

.footerLinkDocs li a {
	text-decoration: none;
	color: #ffffff;
}

.footerLinkDocs li a:hover {
	color: #6e6660;
}

.copyright {
	border-top: 2px solid #444444;
	margin: 0 70px;
	color: #444444;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	padding: 40px;
}
