.userSignupContainer{
	overflow-x: hidden;
}



/* .signup-body-container {
	display: flex;
	justify-content: space-between;
	margin: 2rem 4rem;
}

.signup-body {
}

.create-account {
	color: #ed4d02;
	font-weight: 700;
	font-size: 24px;
	text-align: center;
}

.signup-form {
	margin-left: 2rem;
}

.signup-form label {
	font-weight: 400;
	font-size: 15px;
	display: block;
}

.signup-img {
}

.form-field {
	margin-bottom: 0.1rem;
}

input {
	border: #ed4d02;
} */
