.userdashboard-container {
	display: flex;
}

.userdashboard-interface {
	width: 100%;
	padding: 30px;
	background: #d9d9d9;
	overflow: hidden;
}

.user-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-info-display {
	font-size: 26px;
	font-weight: 400;
}

.user-time {
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-left: 430px;
}

.user-time-one {
	background: rgba(237, 77, 2, 0.7);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding-top: 10px;
	width: 92px;
	height: 42px;
}

.user-time-two {
	background: #d9d9d9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	text-align: center;
	padding-top: 10px;
	width: 150px;
	height: 42px;
}

.user-dashboard-container {
	margin: 2rem auto;
}

.user-id {
	font-weight: 700;
}

.user-username {
	text-align: left;
	padding-left: 20px;
}

.user-cards {
	display: flex;
	justify-content: space-around;
	margin-top: 80px;
}

.user-card-item {
	background: #f5f5f5;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 10px;
	width: 250px;
	height: 150px;
	text-align: center;
}

.user-p-top {
	padding: 1rem;
	border-bottom: 1px solid #b4b1af;
	color: #60616e;
	font-weight: 700;
	font-size: 14px;
}

.user-p-bottom {
	color: #000000;
	font-weight: 700;
	font-size: 35px;
}

.user-secure {
	font-weight: 700;
	font-size: 18px;
	color: #ce5707;
	margin: 2rem;
}

.user-button-container {
	margin: 1rem 0;
}

.user-report-button {
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	background-color: #ed4d02;
	padding: 1rem 1.5rem;
	border-radius: 8px;
}

.user-report-button:hover {
	font-size: 16px;
	font-weight: 700;
	text-decoration: none;
	color: #fff;
	background-color: #ce5707;
	border-radius: 8px;
}

.user-table-section {
	background: #999dad38;
	border-radius: 8px;
	padding: 1rem;
	margin: 6rem auto 0;
}

.user-table {
	margin: 0.1rem;
	padding: 0.1rem;
}

.user-report-table {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.user-report-text {
	font-size: 20px;
	font-weight: 700;
}

#user-search-input {
	width: 100%;
	height: 3rem;
	outline: none;
	border: 2px solid #606163;
	border-radius: 5px;
	background: #999dad38;
}

input[type='text'] {
	padding: 1rem;
	font-size: 14px;
	font-weight: 700;
}

::placeholder {
	color: #000000;
}
/* 
table {
	border-collapse: collapse;
	width: 100%;
	margin: 3rem auto;
	text-align: center;
}

td,
th {
	border: 1px solid #d9d9d9;
	padding: 20px 10px;
	color: #000000;
	font-size: 15px;
	font-weight: 700;
}

th {
	background-color: #60616e;
	color: #ffffff;
}

tr:nth-child(odd) {
	background-color: #d9d9d9;
}

.table-icons {
	display: flex;
	gap: 2rem;
	justify-content: center;
} */

.user-pagination {
	display: flex;
	width: 50%;
	justify-content: center;
	align-items: center;
	font-weight: 700;
	background: #d9d9d9;
	padding: 5px 0;
	margin: 10px auto;
}

.user-pagination a {
	padding: 10px 20px;
	margin: 10px;
	text-decoration: none;
}

.user-pagination-item {
	background: rgba(0, 0, 0, 0.25);
	color: #00000040;
	font-size: 18px;
}

.user-pagination-bracket {
	color: #000;
	font-size: 35px;
	font-weight: 500;
}

.user-pagination-item:hover {
	background: #ed4d02;
	color: #ffffff;
}
