.navbar {
	min-width: 100vw;
	height: 80px;
	background-color: #ffff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	position: fixed;
}

.navbar .headingLogo {
	display: flex;
	margin-left: 75px;
	color: #6e6660;
}

.navbar .headingText {
	padding-top: 20px;
	font-size: 26px;
	font-weight: 700;
}

.IT {
	color: #ed4d02;
}

.navbar .links {
	display: flex;
	cursor: pointer;
	justify-content: space-around;
	align-items: center;
	margin-right: 75px;
	margin-bottom: 5px;
	gap: 2rem;
	font-weight: 700;
	color: #ed4d02;
}

.navbar .links a {
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
	text-decoration: none;
	color: #ed4d02;
}

.navbar .links a:hover,
.navbar .links a#active {
	background-color: #ed4d02;
	color: #ffff;
}

/* for the collapse menu button */
.navbar .menu_button #menuBar {
	color: #ed4d02;
	font-size: 25px;
	cursor: pointer;
	display: none;
}

@media (max-width: 767px) {
	.navbar {
		transition: 0.5s height ease-in-out;
	}
	.navbar .headingLogo {
		display: flex;
		margin-left: 15px;
	}
	.navbar .menu_button {
		margin-top: 1px;
		margin-right: 20px;
	}

	.navbar .menu_button #menuBar {
		display: block;
	}

	.navbar.expanded {
		height: 100vh;
	}

	.navbar .links {
		position: fixed;
		top: 80px;
		left: -100%;
		background: #111;
		height: 100vh;
		width: 100%;
		display: block;
		text-align: center;
		transition: all 0.3s ease;
	}
}
